<div class="row" *ngIf="!isAddEvent">
  <div class="col-sm-12">
    <app-card [title]="'Events'">

      <!-- <div class="col-xs-12 col-sm-12 col-md-12 m-b-5">
        <div style="text-align: right;">
          <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Name/Email/Mobile/User type ">
          <button type="button" class="btn btn-primary p-t-10 p-b-10">Search</button>
          <button type="button" style="background-color:#d71727; border-color:#d71727; color:#fff; border-radius: 200px;" class="btn btn-danger p-t-10 p-b-10">Add
            Event</button>
        </div>
      </div> -->

      <div class="row pb_30">
        <div class="col-xs-12 col-sm-12 col-md-7 m-b-5"></div>
        <div class="col-xs-12 col-sm-12 col-md-3 m-b-5">
          <div style="display:flex;text-align: right;">
            <input type="search" [(ngModel)]="filterQuery" class="form-control " placeholder="Title/Date/Category">
            <button type="button" class="btn btn-primary " style="width:100px;"> search</button>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 m-b-5">
          <button type="button" style=" margin-right:10px;background-color:#d71727; border-color:#d71727; color:#fff; border-radius: 200px;"
            class="btn btn-danger p-t-10 p-b-10" (click)="openAddEvent()">Add
            Event</button>

        </div>
      </div>

      <ngx-datatable class="material" [rows]="rowsBasic" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [reorderable]="reorderable" [externalPaging]="true"
        [count]="page.totalRecords" [offset]="page.page" [limit]="page.limit" (page)='setPage($event)' [selectionType]="'single'"
        (select)='onSelect($event)'>
        <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
          <ng-template *ngIf="col.name != 'Image'" #editTmpl let-row="row" let-value="value">
            <span (click)="onClick(row)">{{value}}</span>
          </ng-template>
          <ng-template *ngIf="col.name == 'Image'" #editTmpl let-row="row" let-value="value"
            ngx-datatable-cell-template>
            <img src="assets/images/avatar-1.jpg" height="45px" width="70px">
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions">
          <ng-template let-column="column" ngx-datatable-header-template>
            Actions
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <ui-switch class="js-danger" color="#e74c3c" switchColor="#fff" size="medium" checked></ui-switch>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </app-card>
  </div>
</div>
<app-add-events [isAddEvent]="isAddEvent" (isDisplayChange)="closeAddEvent()" *ngIf="isAddEvent"></app-add-events>
