<!-- <div *ngIf="isSignUp"> -->
<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="authForm.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="myForm" (ngSubmit)="register()" *ngIf="isSignUp">
    <div class="form-group row">
      <div class="col-sm-12">
        <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName">
        <div class="validation_input">
          <div class="messages text-danger valid_popup" *ngIf="(myForm.controls.firstName?.dirty || myForm.controls.firstName?.touched) && myForm.controls.firstName.invalid">First
            name can't be blank</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName">
        <div class="validation_input">
          <div class="messages text-danger valid_popup" *ngIf="(myForm.controls.lastName?.dirty || myForm.controls.lastName?.touched) && myForm.controls.lastName.invalid">Last
            name can't be blank</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <input type="text" class="form-control" pattern="[0-9]{10}" id="mobile" placeholder="Mobile Number"
          formControlName="mobile">
        <div class="validation_input">
          <div class="messages text-danger valid_popup" *ngIf="(myForm.controls.mobile?.dirty || myForm.controls.mobile?.touched) && myForm.controls.mobile.invalid">Enter
            valid 10 digit mobile number</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <input type="text" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="email"
          placeholder="Email Address" formControlName="email">
        <div class="validation_input">
          <div class="messages text-danger valid_popup" *ngIf="(myForm.controls.email?.dirty || myForm.controls.email?.touched) && myForm.controls.email.invalid">Enter
            valid email-id</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password"
          maxlength="8">
        <div class="validation_input">
          <div class="messages text-danger error valid_popup" *ngIf="(myForm.controls.password?.dirty || myForm.controls.password?.touched) && myForm.controls.password.invalid">Password
            must be atleast 8 characters</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <input type="password" class="form-control" id="rpassword" placeholder="Confirm Password" formControlName="rpassword"
          maxlength="8">
        <div class="validation_input">
          <div class="messages text-danger valid_popup" *ngIf="myForm.controls.rpassword.errors?.equalTo && ((myForm.controls.rpassword?.dirty || myForm.controls.rpassword?.touched) && myForm.controls.rpassword.invalid )">Confirm
            passwords does not match</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-check form-check-inline">
          <label class="form-check-label label-font">
            <input class="form-check-input" type="radio" value="Hire People" formControlName="role"> I Hire people
          </label>
        </div>
      </div>
      <div class="col-sm-12">

        <div class="form-check form-check-inline">
          <label class="form-check-label label-font">
            <input class="form-check-input" type="radio" value="Artist" formControlName="role"> I am
            Artist/Technician
          </label>
        </div>
      </div>
      <div class="col-sm-12">

        <div class="form-check form-check-inline">
          <label class="form-check-label label-font">
            <input class="form-check-input" type="radio" value="Manager" formControlName="role"> I am manager for
            one or more Artist(s)/Technician(s)
          </label>
        </div>
      </div>
      <div class="col-sm-12">

        <div class="form-check form-check-inline">
          <label class="form-check-label label-font">
            <input class="form-check-input" type="radio" value="Bussiness Manager" formControlName="role"> I am
            Owner/Manager
            of a bussiness related to Film Industry
          </label>
        </div>
        <div class="messages text-danger" *ngIf="myForm.controls.role?.touched && myForm.controls.role.errors?.required">Gender
          can't be blank</div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" style="width:100%; background-color:#d71727; color:#fff" class="btn btn-danger border_n m-b-0"
          [disabled]="myForm.invalid">Register</button>
      </div>
    </div>
  </form>
  <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="isSignIn">
    <div class="form-group row">
      <div class="col-sm-12">
        <input type="text" class="form-control" id="emailID" placeholder="Your Email Address" formControlName="emailID">
        <div class="validation_input">
          <div class="messages text-danger valid_popup" *ngIf="(myForm.controls.email?.dirty || myForm.controls.email?.touched) && myForm.controls.email.invalid">Enter
            valid email-id</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <input type="password" class="form-control" id="currtpassword" placeholder="Password" formControlName="currtpassword">
        <div class="validation_input">
          <div class="messages text-danger error valid_popup" *ngIf="(myForm.controls.password?.dirty || myForm.controls.password?.touched) && myForm.controls.password.invalid">Password
            must be atleast 8 characters</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" style="width:100%; background-color:#d71727; color:#fff" class="btn btn-danger border_n m-b-0"
          [disabled]="loginForm.invalid">Sign In</button>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="col-md-8 col-sm-8">
    <p class="value-font col-12">Connect 2 Tollywood</p>
    <p class="label-font col-12">Authentication Terms</p>
  </div>
  <div class="col-md-4 col-sm-4 text-right">
    <span class="">
      <img src="../../../assets/images/logo.png" height="50" alt=" c2t logo">
    </span>
  </div>
</div>
<!-- </div> -->
