<div class="logo_wrapper">
    <div class="container">
        <img src="../../../assets/images/logo.png" class="mainlogo">
    </div>
  </div>
  <div class="row top_nav">
    <div class="col-12 wid100">
        <div class="top_info_pa1">
            <a href="" class="text-black-50 link_button f16 rockwell">Sign Up</a>
            <a href="" class="link_button text-black-50 f16 rockwell">Sign In</a>
        </div>
        <div class="top_info_pa2 mr_30">
            <i class="far fa-envelope f14"></i>
            <a href="" class="contact_links rockwell f14 text-muted">connect2tollywood.com</a>
            <i class="fas fa-phone f14"></i>
            <a href="" class="contact_links f14 rockwell text-muted">+91 9876543210</a>
        </div>
    </div>
  </div>
  <div class="row navbar_section">
    <div class="container padl_80">
        <nav class="navbar navbar-expand-lg navbar-light hero_nav backcolor_f4">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link menu_list_item f16 fl" [routerLink]="['/home']">Home</a>
                    <a class="nav-item nav-link menu_list_item f16 fl" [routerLink]="['/search']">Search <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link menu_list_item f16 fl" href="#">Opportunities</a>
                    <a class="nav-item nav-link menu_list_item f16 fl" href="#">Projects</a>
                    <a class="nav-item nav-link menu_list_item f16 fl" href="#">About Us</a>
                    <a class="nav-item nav-link menu_list_item f16 fl" [routerLink]="['/joinus']"href="#">Join Us</a>
                    <a class="nav-item nav-link menu_list_item f16 fl" href="#">Contact Us</a>
                </div>
            </div>
        </nav>
    </div>
  </div>
  <div class="container">
    <h1>{{val2}}</h1>
  </div>
  <div class="row info_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 mb30">
                <img src="../../../assets/images/logo.png" class="logo2"/>
                <div>
                    <p class="lator w">Connect to Tollywood is the right platform to find one from largest Community
                    of Artist&nbsp; Talented People over many Cities like Telangana Hyderabad, Vizag,
                    Andhrapradesh. Register for free and Start your move in finding the right one and make your
                    events successful.</p>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-12 line_flex">
                <div class="row full_width">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <ul class="info_list">
                            <li>Home</li>
                            <li>About Us</li>
                            <li>Investor Relations</li>
                            <li>In the News</li>
                            <li>Investor Relations</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <ul class="info_list">
                            <li>
                                <strong>Legal</strong>
                            </li>
                            <li>Website Terms of Use </li>
                            <li>License Agreement</li>
                            <li>Privacy Policy</li>
                            <li>Patents</li>
                        </ul>
                        <div>
                            <h3 class="follow lator">Follow</h3>
                            <i class="fab fa-facebook social_icon"></i>
                            <i class="fab fa-instagram social_icon"></i>
                            <i class="fab fa-twitter social_icon"></i>
                            <i class="fab fa-youtube social_icon"></i>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <ul class="info_list">
                            <li>
                                <strong>Help</strong>
                            </li>
                            <li>Support Center</li>
                            <li>Contact Us</li>
                            <li>
                                <strong>Sales</strong>
                            </li>
                            <li>+91 9876543210</li>
                            <li>connect2tollywood.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>