<div class="pcoded" [attr.nav-type]="navType" [attr.theme-layout]="themeLayout" [attr.layout-type]="layoutType"
  [attr.vertical-placement]="verticalPlacement" [attr.vertical-layout]="verticalLayout" [attr.pcoded-device-type]="deviceType"
  [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect" [attr.vnavigation-view]="vNavigationView"
  (window:resize)="onResize($event)">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" [attr.pcoded-header-position]="pcodedHeaderPosition"
      [attr.header-theme]="headerTheme">
      <div class="navbar-wrapper">
        <div class="navbar-logo">
          <!-- <a *ngIf="currentUser?.role == 'Admin'" class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()"
            [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
            <i class="ti-menu"></i>
          </a> -->
          <a>
            <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo" />
          </a>
          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container">
          <div>
            <ul class="nav-left">
              <li>
                <div class="sidebar_toggle"><a href="javascript:;" (click)="toggleOpened()"><i class="ti-menu f-18"></i></a></div>
              </li>
            </ul>
            <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile">
              <li class="user-profile header-notification">
                <img src="assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                <span>{{currentUser.firstName}} {{currentUser.lastName}}</span>
                <i class="ti-angle-down"></i>
                <ul class="show-notification profile-notification">
                  <li *ngIf="currentUser?.role != 'Admin'">
                    <a [routerLink]="['/user/profile']">
                      <i class="ti-user"></i>
                      <span *ngIf="currentUser?.role == 'Hire People' || currentUser?.role == 'Artist'">Profile</span>
                      <span *ngIf="currentUser?.role == 'Manager' || currentUser?.role == 'Bussiness Manager'">My
                        Bussiness Profile</span>
                    </a>
                  </li>
                  <li *ngIf="currentUser?.role == 'Admin'">
                    <a [routerLink]="['/c2t/dashboard']">
                      <i class="ti-home"></i> Dashboard
                    </a>
                  </li>
                  <li *ngIf="currentUser?.role == 'Admin'">
                    <a [routerLink]="['/c2t/news']">
                      <i class="ti-rss"></i> News
                    </a>
                  </li>
                  <li *ngIf="currentUser?.role == 'Admin'">
                    <a [routerLink]="['/c2t/events']">
                      <i class="ti-map-alt"></i> Events
                    </a>
                  </li>
                  <li *ngIf="currentUser?.role == 'Admin'">
                    <a [routerLink]="['/c2t/advertisements']">
                      <i class="ti-blackboard"></i> Advertisements
                    </a>
                  </li>
                  <li>
                    <a (click)="logout()" class="curser_pointer">
                      <i class="ti-power-off"></i> Logout
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

   
    <!-- right-bar inner chat end -->

    <div class="pcoded-main-container" [style.margin-top]="headerFixedMargin">
      <div class="pcoded-wrapper">
        <nav id="main_navbar" class=" pcoded-navbar" (clickOutside)="onClickedOutside($event)" [exclude]="'#mobile-collapse'"
          [attr.pcoded-header-position]="pcodedHeaderPosition" [attr.navbar-theme]="navBarTheme"
          [attr.active-item-theme]="activeItemTheme" sub-item-theme="theme2" active-item-style="style0"
          [attr.pcoded-navbar-position]="pcodedSidebarPosition">
          <div class="sidebar_toggle"><a href="javascript:;"><i class="icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu" appAccordion>
            <div slimScroll width="100%" height="calc(100% - 80px)" size="4px" color="#fff" opacity="0.3"
              allowPageScroll="false">
              <div *ngFor="let asideItems of menuItems.getAll()" class="d-color">
              </div>
            </div>
          </div>
        </nav>
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <app-title></app-title>
                <div class="page-body">
                  <router-outlet>
                    <app-spinner></app-spinner>
                  </router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
