<div>
  <div class="page-header card" >
  	<div class="row">
  		<div class="col-md-1">
      		<img src="../../../assets/images/avatar-1.jpg" width="60"  height="60" >
	
  		</div>
  		<div class="col-md-11">

  				M. Vijay Reddy
  		</div>
	</div>
</div>

<app-card [cardClass]="'borderless-card inverse-breadcrumb'" [blockClass]="'inverse-breadcrumb'">
    <div class="breadcrumb-header">
    <div class=" widget-card-1">
      <div class="card-block-small">
      	<img src="../../../assets/images/avatar-1.jpg" class="card1-icon" >
        <!-- <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i> -->
		</div>
	</div>
      
    </div>
    <div class="page-header-breadcrumb">
     
    </div>
  </app-card>

</div>